In [2]:
import pandas as pd

df = pd.read_csv("data/ipa-dict-master/data/en_US.txt", sep="\t", header=None, keep_default_na=False)
df

                 0                          1
0            'bout                    /ˈbaʊt/
1           'cause                      /kəz/
2          'course                    /ˈkɔɹs/
3            'cuse                    /ˈkjuz/
4              'em                       /əm/
...            ...                        ...
125922        zysk                   /ˈzaɪsk/
125923   zyskowski               /zɪˈskɔfski/
125924    zyuganov    /ˈzjuɡɑnɑv/, /ˈzuɡɑnɑv/
125925  zyuganov's  /ˈzjuɡɑnɑvz/, /ˈzuɡɑnɑvz/
125926     zywicki                  /zɪˈwɪki/

[125927 rows x 2 columns]